body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: white;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

#search-jobs, #featured-jobs {
    margin-bottom: 20px;
}

#search-jobs form {
    display: flex;
    justify-content: center;
}

#search-jobs input {
    margin-right: 10px;
    padding: 10px;
    width: 200px;
}

#search-jobs button {
    padding: 10px;
}

.job-listing {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
.job-listing img {
    max-width: 100px;
    margin-left: 1350px;
    border-radius: 10px;
    height: 120px;

}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}